// FIXME change this to switch
.side-bar(ui-view='sidebar')
.nav-bar(ui-view='navbar')
.main-section
  span(ng-if='usrCtr.userSuggestions && !usrCtr.addingSelfwares')
    .main-container(ng-if='usrCtr.user.type === "student"' ui-view='student-content')
    .main-container(ng-if='usrCtr.user.type === "teacher"' ui-view='teacher-content')
  span(ng-if='(!usrCtr.userSuggestions || usrCtr.addingSelfwares) && !usrCtr.suggestions')
    .main-container(ui-view='add-selfware')
  span(ng-if="usrCtr.suggestions")
    .main-container(ui-view='suggestions')
