.sidebar-item
  i.material-icons
    | alarm
  span.nav-label Find Strategies for You
.sidebar-item
  i.material-icons
    | alarm
  span.nav-label Post my own Strategy
.sidebar-item
  i.material-icons
    | alarm
  span.nav-label View Others' Strategies
.sidebar-item
  i.material-icons
    | alarm
  span.nav-label Share With Teachers
