.sidebar-item(ng-click='usrCtr.gotoSuggestions()')
  i.material-icons
    | alarm
  span.nav-label Find Strategies for You
.sidebar-item(ng-click='usrCtr.gotoNewSuggestions()')
  i.material-icons
    | new_releases
  span.nav-label Post my own Strategy
