.auth-container
  .auth-wrapper
    .title
      span
        | {{ 'WELCOME' | translate }}
    .subtitle(ng-switch='landingCtrl.state')
      span(ng-switch-when='login')
        | {{ 'WELCOME_LOGIN' | translate }}
      span(ng-switch-default)
        | {{ 'WELCOME_REGISTER' | translate }}
    .login-box.box(ng-if='landingCtrl.state === "login"')
      input.default-input(type='email' name='email' model='landingCtrl.email' placeholder='{{ "EMAIL" | translate }}')
      input.default-input(type='password' name='password' model='landing.password' placeholder='{{ "PASSWORD" | translate }}')
    .register-box.box(ng-if='landingCtrl.state === "register"')
      input.default-input(type='text' name='name' model='landingCtrl.name' placeholder='{{ "NAME" | translate }}')
      input.default-input(type='email' name='email' model='landingCtrl.email' placeholder='{{ "EMAIL" | translate }}')
      input.default-input(type='password' name='password' model='landing.password' placeholder='{{ "PASSWORD" | translate }}')
      select.default-input(chosen options='landingCtrl.types' ng-model='landingCtrl.selectedType' ng-options='type as type for type in landingCtrl.types')
    .button-container
      span(ng-if='landingCtrl.state === "login"')
        button.second-button(ng-click='landingCtrl.changeState()')
          | {{ 'REGISTER_CHANGE' | translate }}
        button.default-button(ng-click='landingCtrl.login()')
            | {{ 'LOGIN' | translate }}
      span(ng-if='landingCtrl.state === "register"')
        button.second-button(ng-click='landingCtrl.changeState()')
            | {{ 'LOGIN_CHANGE' | translate }}
        button.default-button(ng-click='landingCtrl.next()')
          | {{ 'REGISTER' | translate }}
