.title(ng-switch='usrCtr.user.type')
  span(ng-switch-when='teacher')
    | {{ 'I_AM' | translate }} {{ usrCtr.user.name }} {{ 'TEACHER_AM_I' | translate }}
  span(ng-switch-default)
    | {{ 'I_AM' | translate }} {{ usrCtr.user.name }} {{ 'STUDENT_AM_I' | translate }}

.subtitle(ng-switch='usrCtr.user.type')
  span(ng-switch-when='teacher')
    | {{ 'ADD_SELFWARE_TEACHER' | translate }}
  span(ng-switch-default)
    | {{ 'ADD_SELFWARE_STUDENT' | translate }}

.behaviour-container
  input.search-box.default-input(type='text' ng-model='filterText')

  .behaviour(ng-repeat='behaviour in usrCtr.behaviours | filter : filterText')
    .name
      | {{ behaviour.name }}
    .action-button
      button.default-button(ng-if='!behaviour.added' ng-click='usrCtrl.selectBehaviour()')
        | Add
      button.disabled-button(ng-if='behaviour.added')
        | Added

  button.second-button(ng-click='usrCtrl.gotoSuggestions()')
    | Go to Suggestions
