body,
.center {
  background-color: $green;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
}

.title {
  margin: 20px;
}

.container {
  padding: 50px 100px;
}

.default-input {
  background-color: $grey-background;
  border: 0;
  margin: 10px;
  height: 40px;
  width: 250px;
  padding: 5px;


  &:focus {
    outline: none;
    border-bottom: 2px solid $green;
  }
}

.default-button {
  @include customBtn($green, $green, $white, $green, transparent, $green);
}

.second-button {
  @include customBtn($green, $white, $green, $green, $green, $white);
}
