.nav-bar {
  background-color: $blue;
  height: 42mm;
  padding: 10px;
  position: absolute;
  top: 0;
  width: 210mm;
  z-index: 1;

  .writable-section {
    float: right;
    height: 36mm;
    padding: 40px 0;
    padding-right: 80px;
    width: 124mm;
  }

  .full-name,
  .occupation {
    align-items: center;
    display: flex;
    font-size: 40px;
    font-weight: 800;
    justify-content: space-between;
    line-height: 30px;
    text-transform: uppercase;

    .name,
    .general {
      color: $white;
    }

    .surname,
    .particular {
      color: $ligth-blue;
    }
  }

  .occupation {
    font-size: 17px;
    font-weight: 400;
    justify-content: space-around;

    .general,
    .particular {
      flex-grow: 1;
      text-align: justify;
    }

    span {
      display: inline-block;
      width: 100%;
    }
  }

}
